
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stil pentru switch-ul de tema */
.toggle-path {
    position: relative;
    transition: background-color 0.3s;
}

.toggle-circle {
    position: absolute;
    transition: transform 0.3s;
    top: 0.25rem;
    left: 0.25rem;
}

/* Culoare pentru Night Mode */
input:checked ~ .toggle-path {
    background-color: #4A5568;
}

input:checked ~ .toggle-circle {
    transform: translateX(100%);
}

/* Stiluri pentru titlul My Account în modul întunecat */
body.dark .my-account-title {
    color: #E2E8F0; /* O nuanță deschisă pentru a contrasta cu fundalul întunecat */
}

/* Stiluri pentru tema întunecată 
body.dark {
    background-color: #1A202C;
    color: #CBD5E0;
}
*/
body.dark .container {
    background-color: #2D3748;
    border-color: #4A5568;
}




