/* Resetarea marginilor și padding-urilor */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stilul general pentru body și html */
body, html {
    min-height: 100%; /* Asigură-te că acoperă întreaga înălțime a paginii */
    background-color: #1e293b; /* Fundal pentru modul dark */
    color: #ffffff; /* Culoare text pentru contrast */
}

/* Adaugă padding la body pentru a evita suprapunerea cu navbar-ul */
body {
    padding-top: 60px; /* Ajustează în funcție de înălțimea navbar-ului */
}

/* Stiluri pentru switch-ul de temă */
.toggle-path {
    position: relative;
    transition: background-color 0.3s;
}

.toggle-circle {
    position: absolute;
    transition: transform 0.3s;
    top: 0.25rem;
    left: 0.25rem;
}

/* Culoare pentru Night Mode */
input:checked ~ .toggle-path {
    background-color: #4A5568;
}

input:checked ~ .toggle-circle {
    transform: translateX(100%);
}

/* Stiluri pentru titlul My Account în modul întunecat */
body.dark .my-account-title {
    color: #E2E8F0; /* O nuanță deschisă pentru a contrasta cu fundalul întunecat */
}

/* Stiluri pentru tema întunecată */
body.dark {
    background-color: #1A202C; /* Culoare consistentă pentru întregul corp */
    color: #CBD5E0; /* Culoare text pentru contrast */
}

body.dark .container {
    background-color: #2D3748; /* Fundal pentru container */
    border-color: #4A5568; /* Bordură pentru container */
}

/* Ajustează înălțimea containerelor principale */
.main-content {
    min-height: calc(100vh - 60px); /* Ajustează în funcție de înălțimea navbar-ului */
}

/* Stiluri pentru navbar în modul dark */
body.dark .navbar {
    background-color: #1e293b; /* Aceeași culoare ca fundalul paginii în modul dark */
    border-color: #374151; /* O nuanță de gri pentru marginea navbarului */
}

/* Stiluri existente pentru alte elemente din navbar */
.navbar {
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Tranziție pentru schimbarea culorii */
}

/* Stiluri pentru un navbar fix */
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Acoperă întreaga lățime a paginii */
    z-index: 1000; /* Se asigură că navbar-ul stă deasupra altor elemente */
    background-color: #1e293b; /* Setează culoarea de fundal pentru modul dark */
    border-bottom: 1px solid #374151; /* Linie de jos pentru navbar */
}
